/* Analiza:
   - Definicje stylów dla elementów body, #root, logo zapewniają spójny layout.
   - Klasy .boxContainer, .tile oraz .iconMenu definiują wygląd poszczególnych komponentów.
   - Media query dla ekranów o szerokości <= 400px zmienia rozmiary kafelków,
     co poprawia responsywność na urządzeniach mobilnych.
   - Stylizacja jest czytelna i zgodna z dobrymi praktykami CSS.
*/

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 360px;
  min-height: 100vh;
}
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.boxContainer{
  display: flex;
  flex-wrap: wrap;
  justify-content:space-evenly;
  gap: 10px;
  width: 100%;
}
.tile{
  border-radius: 15px;
  width: 150px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: black;
  cursor: pointer;
  transition: background-color 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    flex-direction: column;
    border: 2px solid #ccc;
    background-color: #f0f0f0;    
}
.tile:hover {
    background-color: #e0e0e0;
    }

.iconMenu {
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 400px) {
  .tile {
    width: 120px;
    height: 120px;
  }
  .boxContainer{
  gap: 5px;
}
}

